<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--mybatis的配置文件-->

	<!-- 设置别名 -->
	<typeAliases>
		<!-- 指定扫描包，会把包内所有的类都设置别名，别名的名称是类名，大小写不敏感 -->
		<package name="com.arnoer.ssm.po" />
	</typeAliases>

	<!--
		使用mybatis的动态代理开发，扫描dao下的mapper.xml。在spring得配置文件中整合，已经配置了
	-->
	<!--<mappers>
		<package name="com.arnoer.ssm.dao"/>
	</mappers>-->
</configuration>
